.mainbody {
    background-color: #77DD77;
    font-size: 21px;
}

body {
    background-color: #77DD77;
    font-size: 21px;
    background-image: url(../img/leaves.png);
    font-family: Futura, sans-serif;
    /* www.cssfontstack.com */
}

p {

}

h1 {
    
}

.top {
    background-color: #FFD1DC;
    width: 500px;
    color: black;
}

span{
    font-size: 30px;
    font-family: sans-serif;
    color: black;

}

#bottom {
    background-color: bisque;
    width: 500px;
    color: black;
}

div {
    background-color: black;
    color: white;
    width: 750px;
}

/* . is for class & # is for ID */
/* CSS BOX MODEL */
/* margin: pixels around it (circles) have nothing at all
   border:
   padding:
*/

.box{
    background: pink;
    width: 300px;

    margin: 100px;
    /* margin is empty space outside the div */
    border-width: 5px;
    border-color: red;
    border-style: ridge;
    border-top: 5px solid rgb(0, 17, 255);
    /* the cascade for border is important */
    /* in thie case border applies before border top */
    padding: 50px 25px;
    /* padding is empty space in div, top, right bottom left (clockwise)*/
    /* padding two values ( top+bottom, left+right) */


}

.contentbox{
    box-sizing: content-box;
    width: 700px;
    height: 300px;
    background-color: black;
    padding: 50px;
    border: green solid 25px;
    
}

.borderbox{
    box-sizing: border-box;
    /* border box sets the width height as total height */
    width: 700px;
    height: 300px;
    background-color: blue;
    padding: 50px;
    border: green solid 25px;
}

/* 
universal box
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
 }
  */

.pagefour{
    background-image: url(../img/cat.jpeg);
    padding: 50px 25px;
    margin: 100px;
    color: red;
    /* background-repeat */
    background-size: cover;
    /* contain - proportion stretch , cover (no repeat at all) */
}

.page5h1{
    margin-bottom: 0;
}

.page5para{
    margin-top: 0px;
    margin-bottom: 20px;

    line-height: 40px;
    font-style: ;
    font-weight: ;
    text-align: center;
    text-decoration: ;
    text-transform: lowercase;
    /* or use no units between 1 - 2 */
    /* equal distribution 20 top & bottom */
}

/* color: yellow !important (to ignore specificity) */

ul {
    list-style: disc;
    background-color: #77DD77;
    display: flex;
}

ul li{
    background: blue;
    list-style-position: outside;
    /* chrome default is outside */
    width: 500px;
    margin: 5px;
    /* display: flex; */

}

ol{
    list-style: upper-roman;
    margin-left: -5px;
    list-style-image: ;
    background-color: pink;
    
}

ol li{
    background: red;
    margin-top: 0;
    margin-bottom: 10px;
    width: 500px;
    list-style-position: inside;
    /* firefox default is inside */
}